/* mobile device */
@media only screen and (max-width: 576px) {
  nav,
  .banner {
    flex-direction: column;
    margin: 50px 16px 0;
    justify-content: center;
  }
  .banner-content {
    width: 90%;
    order: 2;
    text-align: center;
  }
  .banner-image {
    width: 90%;
    order: 1;
  }
  .button-primary {
    margin: auto;
  }
  .sponser-container {
    margin: 16px 50px;
  }
  .sponsor {
    flex-basis: 70px;
  }
  .popular-collection > h3 {
    font-size: 20px;
    font-weight: 500;
  }
  .collection {
    margin: 16px;
    grid-template-columns: repeat(1, 1fr);
    gap: 5px;
  }
  .see-more-button {
    text-align: right;
    margin: 50px 16px;
  }
  .featured-product {
    margin: 100px 16px;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    text-align: center;
  }
  .col-1 {
    width: 100%;
  }
  .col-2 {
    width: 100%;
    text-align: center;
  }
  .col-2 h2 {
    font-size: 30px;
    font-weight: 600;
  }
  .col-2 > p {
    color: #6c6c6c;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    width: 100%;
  }
  .button-secondary {
    text-align: center;
    margin: 20px auto;
  }
}

/* tablet */
@media only screen and (min-width: 576px) and (max-width: 960px) {
  nav,
  .banner {
    flex-direction: column;
    margin: 50px 16px 0;
    justify-content: center;
  }
  .banner-content {
    width: 90%;
    order: 2;
    text-align: center;
  }
  .banner-image {
    width: 90%;
    order: 1;
  }
  .button-primary {
    margin: auto;
  }
  .sponser-container {
    margin: 16px 50px;
  }
  .sponsor {
    flex-basis: 150px;
  }

  .popular-collection > h3 {
    font-size: 28px;
    font-weight: 600;
  }
  .collection {
    margin: 16px;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
  .featured-product {
    margin: 100px 16px;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    text-align: center;
  }
  .col-1 {
    width: 100%;
  }
  .col-2 {
    width: 100%;
    text-align: center;
  }
  .col-2 h2 {
    font-size: 30px;
    font-weight: 600;
  }
  .col-2 > p {
    color: #6c6c6c;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    width: 100%;
  }
  .button-secondary {
    text-align: center;
    margin: 20px auto;
  }
}
