@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0 auto;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
body {
  max-width: 1440px;
  border: 1px solid black;
}
/* navigaion styles */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 87px 120px 0;
  border: 1px solid red;
}
nav > h3 {
  color: #3a3a3a;
  font-size: 24px;
  font-weight: 700;
  margin: 0;
}
nav > ul {
  display: flex;
  align-items: center;
  margin: 0;
}
nav > ul > li {
  list-style: none;
  text-decoration: none;
  padding-left: 34px;
  color: #3a3a3a;
  font-size: 16px;
}

/* header banner section styles */
.banner {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  margin: 50px 120px;
  gap: 100px;
  border: 1px solid green;
}
.banner-content {
  width: 50%;
}
.banner-content h2 {
  color: #3a3a3a;
  font-size: 45px;
  font-weight: 700;
}
.banner-content p {
  color: #3a3a3a;
  font-size: 16px;
  font-weight: 600;
  padding: 20px 0;
}
.banner-image {
  width: 50%;
  background-image: url(../images/Circle\ design.svg);
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
}
.banner-image img {
  width: 100%;
}
.button-primary {
  display: flex;
  align-items: center;
  border-radius: 41px;
  background: #e02c6d;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  border: none;
  padding: 10px 24px;
  gap: 8px;
  margin: 0;
}
